/* Theme2 colours */
:root {
    /* Backgrounds */
    --main-bg-theme: hsl(0, 0%, 90%);
    --toggle_keypad-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);
    /* Keys */
    --key-bg: hsl(185, 42%, 37%);
    --key-shadow: hsl(185, 58%, 25%);
    --key-bg-toggle: hsl(25, 98%, 40%);
    --red-key-shadow: hsl(25, 99%, 27%);
    --lgt-key-bg: hsl(45, 7%, 89%);
    --orange-key-shadow: hsl(35, 11%, 61%);
    /* Text */
    --text-color: hsl(60, 10%, 19%);
    --white: hsl(0, 0%, 100%);
}

body {
    background: var(--main-bg-theme);
}

label, h6 {
    color: var(--text-color);
}

.calc-header > h1 {
    color: var(--text-color);
}

.theme-select {
    background: var(--toggle_keypad-bg);
}

input:checked {
    background: var(--key-bg-toggle);
}

.display-screen {
    color: var(--text-color);
    background: var(--screen-bg);
}

.grid-container {
    background: var(--toggle_keypad-bg);
}

.grid-container > button {
    background: var(--lgt-key-bg);
    color: var(--text-color);
    box-shadow: 0 2px var(--orange-key-shadow);
}

button:nth-child(4), button:nth-child(17) {
    background: var(--key-bg);
    color: var(--white);
    box-shadow: 0 2px var(--key-shadow);
}

button:nth-child(18) {
    background-color: var(--key-bg-toggle);
    box-shadow: 0 5px var(--red-key-shadow);
    color: var(--white);
}